<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if shotplot.environment == "production" %}<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{ shotplot.GTMID }}');</script>{% endif %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-touch-icon-57x57.png' | url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicon/apple-touch-icon-60x60.png' | url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicon/apple-touch-icon-72x72.png' | url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicon/apple-touch-icon-76x76.png' | url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicon/apple-touch-icon-114x114.png' | url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicon/apple-touch-icon-120x120.png' | url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicon/apple-touch-icon-144x144.png' | url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicon/apple-touch-icon-152x152.png' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon-180x180.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | url }}" color="#0039a6">
    <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | url }}">
    <meta name="apple-mobile-web-app-title" content="shotplot">
    <meta name="application-name" content="shotplot">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ '/assets/favicon/mstile-144x144.png' | url }}">
    <meta name="msapplication-config" content="{{ '/assets/favicon/browserconfig.xml' | url }}">
    <meta name="theme-color" content="#faffff">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/deps.css' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | url }}">
  </head>

  <body class="bg-light">
    {% if shotplot.environment == "production" %}<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ shotplot.GTMID }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{% endif %}
    {% include 'nav.njk' %}
    <main class="py-3">
      {{ content | safe }}
    </main>
    <script src="{{ '/assets/js/deps.js' | url }}" type="text/javascript"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}" type="text/javascript"></script>
  </body>
</html>
