<div class="container-fluid">
  <div class="row">
    <div id="rink" class="col-lg-9">
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body bg-white">
          <form>
            <div class="form-group">
              <label for="rink-selector">Rink Size</label>
              <select class="custom-select" id="rink-selector">
                <option value="NA" selected>North American</option>
                <option value="IIHF">International</option>
              </select>
            </div>
            <div class="form-group">
              <label for="unit-selector">Units</label>
              <select class="custom-select" id="unit-selector">
                <option value="cm">Centimeters</option>
                <option value="in" selected>Inches</option>
                <option value="ft">Feet</option>
              </select>
            </div>
          </form>
          <table id="coord-table" class="table d-none"></table>
        </div>
      </div>
    </div>
  </div>
</div>
