/* miriam-libre-regular - latin */
@font-face {
  font-family: "Miriam Libre";
  font-style: normal;
  font-weight: 400;
  src: url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Miriam Libre Regular"), local("MiriamLibre-Regular"),
    url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-regular.svg#MiriamLibre")
      format("svg"); /* Legacy iOS */
}
/* miriam-libre-700 - latin */
@font-face {
  font-family: "Miriam Libre";
  font-style: normal;
  font-weight: 700;
  src: url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Miriam Libre Bold"), local("MiriamLibre-Bold"),
    url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/shotplot/assets/fonts/miriam-libre-v3-latin-700.svg#MiriamLibre")
      format("svg"); /* Legacy iOS */
}

header {
  font-family: "Miriam Libre";
}
