---
layout: base.njk
---
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
</div>
