<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57" href="{{'apple-touch-icon-57x57.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{'apple-touch-icon-60x60.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{'apple-touch-icon-72x72.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{'apple-touch-icon-76x76.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{'apple-touch-icon-114x114.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{'apple-touch-icon-120x120.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{'apple-touch-icon-144x144.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{'apple-touch-icon-152x152.png' | relative_url}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon-180x180.png' | relative_url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'favicon-32x32.png' | relative_url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'favicon-16x16.png' | relative_url}}">
  <link rel="manifest" href="{{'site.webmanifest' | relative_url}}">
  <link rel="mask-icon" href="{{'safari-pinned-tab.svg' | relative_url}}" color="#0039a6">
  <link rel="shortcut icon" href="{{'favicon.ico' | relative_url}}">
  <meta name="apple-mobile-web-app-title" content="ShotPlot">
  <meta name="application-name" content="ShotPlot">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{'mstile-144x144.png' | relative_url}}">
  <meta name="msapplication-config" content="{{'browserconfig.xml' | relative_url}}">
  <meta name="theme-color" content="#faffff">

  <link rel="stylesheet" href="{{'/assets/main.css' | relative_url}}">
</head>

<body>
  {% include nav.html %} {% if page.content-type == "front" %} {% include front-page.html %} {% else %} {{ content }} {% endif
  %}
  <script src="{{'/assets/main.js' | relative_url}}"></script>
  <script src="{{'/assets/vendor/jquery.min.js' | relative_url}}"></script>
  <script src="{{'/assets/vendor/popper.min.js' | relative_url}}"></script>
  <script src="{{'/assets/vendor/bootstrap.min.js' | relative_url}}"></script>
</body>

</html>
