/* miriam-libre-regular - latin */
@font-face {
  font-family: "Miriam Libre";
  font-style: normal;
  font-weight: 400;
  src:
    local("Miriam Libre Regular"),
    local("MiriamLibre-Regular"),
    url("../fonts/miriam-libre-v5-latin-regular.woff2") format("woff2"),
    url("../fonts/miriam-libre-v5-latin-regular.woff") format("woff");
}

/* miriam-libre-700 - latin */
@font-face {
  font-family: "Miriam Libre";
  font-style: normal;
  font-weight: 700;
  src:
    local("Miriam Libre Bold"),
    local("MiriamLibre-Bold"),
    url("../fonts/miriam-libre-v5-latin-700.woff2") format("woff2"),
    url("../fonts/miriam-libre-v5-latin-700.woff") format("woff");
}

header {
  font-family: "Miriam Libre", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
